[includeIf "gitdir:~/Projects/go1/"]
	path = .gitconfig_go1
[url "git@code.go1.com.au:"]
	insteadOf = https://code.go1.com.au/
[test "local"]
	sh = ~/.gitignore_global
[core]
	excludesfile = ~/.gitignore_global
	editor = nvim
[alias]
        tree = log --graph --decorate
[pager]
	branch = false
[pull]
	rebase = true
[commit]
	gpgsign = true
[gpg]
	program = /usr/local/bin/gpg
